.maps {
  text {
    pointer-events: none;
  }
}

.place-label {
  pointer-events: none;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 150px;
  padding: 2px;
  pointer-events: none;

  header,
  section {
    margin: 0;
    padding: 3px 0;
  }
  
  header {
    background-color: #444;
    color: burlywood;
    font-size: 14px;
  }
  section {
    background-color: #666;
    color: white;
    font-size: 16px;
  }
  strong {
    color: lighten(coral, 5%);
  }
}