.graphsContainer {
  width: 100%;
  min-width: 768px;
  // & > div {
  //   display: inline-block;
  //   vertical-align: top;
  //   width: 45%;
  //   margin-right: 10px;
  //   margin-bottom: 20px;
  // }
  // & > div:nth-child(n+2) {
  //   margin-right: 0;
  // }
}

.graph {
  border: 1px solid #bbb;
  border-radius: 5px;
  height: 500px;
  min-width: 200px;
  min-height: 100px;
  margin-bottom: 40px;
  text {
    font-family: Georgia, serif;
    font-size: 11px;
  }
  .c3-axis-y-label {
    fill: #555;
  }
}
