form {
  padding: 5px;
  background-color: #999;

  div {
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
label,
select,
input,
button {
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  line-height: 30px;
}
label {
  margin-right: 5px;
  color: #eee;
  padding: 0 10px;
  width: 100px;
}
select {
  border: 0;
  width: 170px;
}
input,
button {
  border-radius: 5px;
  border: 0;
  padding: 0 5px;
}
input {
  width: 400px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
button {
  background-color: #c0d3ec;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}